<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.app.api.dao.mapper.TopicMapper">
  <resultMap id="BaseResultMap" type="com.github.app.api.dao.domain.Topic">
    <id column="number" jdbcType="INTEGER" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="popedom" jdbcType="INTEGER" property="popedom" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="device_number" jdbcType="INTEGER" property="deviceNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    number, name, popedom, remark, device_number
  </sql>
  <select id="selectByExample" parameterType="com.github.app.api.dao.domain.TopicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_TOPIC
    where number = #{number,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_TOPIC
    where number = #{number,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.github.app.api.dao.domain.TopicExample">
    delete from T_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.github.app.api.dao.domain.Topic">
    insert into T_TOPIC (number, name, popedom, 
      remark, device_number)
    values (#{number,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{popedom,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{deviceNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.app.api.dao.domain.Topic">
    insert into T_TOPIC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="number != null">
        number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="popedom != null">
        popedom,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="deviceNumber != null">
        device_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="popedom != null">
        #{popedom,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null">
        #{deviceNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.github.app.api.dao.domain.TopicExample" resultType="java.lang.Long">
    select count(*) from T_TOPIC
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_TOPIC
    <set>
      <if test="record.number != null">
        number = #{record.number,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.popedom != null">
        popedom = #{record.popedom,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceNumber != null">
        device_number = #{record.deviceNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_TOPIC
    set number = #{record.number,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      popedom = #{record.popedom,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      device_number = #{record.deviceNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.app.api.dao.domain.Topic">
    update T_TOPIC
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="popedom != null">
        popedom = #{popedom,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deviceNumber != null">
        device_number = #{deviceNumber,jdbcType=INTEGER},
      </if>
    </set>
    where number = #{number,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.app.api.dao.domain.Topic">
    update T_TOPIC
    set name = #{name,jdbcType=VARCHAR},
      popedom = #{popedom,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      device_number = #{deviceNumber,jdbcType=INTEGER}
    where number = #{number,jdbcType=INTEGER}
  </update>
</mapper>