<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="1800">
	<Properties>
		<Property name="LOG_HOME">${env:vertx.home}/logs</Property>

		<!-- 日志备份目录 -->
		<Property name="BACKUP_HOME">${env:vertx.home}/logs/backup</Property>
		<Property name="SERVER_NAME">vertx</Property>
		<Property name="EVERY_MAX_FILE_NUM">5000</Property><!-- 日志文件最大个数 -->
		<Property name="EVERY_FILE_SIZE">10M</Property><!-- 日志切割的最小单位 -->
		<Property name="DATA_FILE_SIZE">100M</Property><!-- 数据日志切割的最小单位 -->
		<Property name="OUTPUT_LOG_LEVEL">INFO</Property><!-- 日志输出级别 -->
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level [%logger{1} %C{1}.%M] - %m %ex%n" />
		</Console>
		
		<!-- 只显示info级别的信息 -->
		<RollingFile name="depInfo" append="true" fileName="${LOG_HOME}/${SERVER_NAME}_depInfo.log" filePattern="${BACKUP_HOME}/${SERVER_NAME}_depInfo.%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{1} %C{1}.%M] - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="${EVERY_FILE_SIZE}" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<Filters>
				<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<DefaultRolloverStrategy max="${EVERY_MAX_FILE_NUM}" />
		</RollingFile>

		<!-- 只显示error级别的信息 -->
		<RollingFile name="depError" append="true" fileName="${LOG_HOME}/${SERVER_NAME}_depError.log" filePattern="${BACKUP_HOME}/${SERVER_NAME}_depError.%d{yyyy-MM-dd}_error_%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{1} %C{1}.%M] - %msg%xEx%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="${EVERY_FILE_SIZE}" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<DefaultRolloverStrategy max="${EVERY_MAX_FILE_NUM}" />
		</RollingFile>
		
		<!-- 只显示info级别的信息 -->
		<RollingRandomAccessFile name="appServerInfo" append="true" fileName="${LOG_HOME}/${SERVER_NAME}_info.log"
			filePattern="${BACKUP_HOME}/${SERVER_NAME}_info.%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{1} %C{1}.%M] - %msg%xEx%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="${EVERY_FILE_SIZE}" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="${EVERY_MAX_FILE_NUM}" />
		</RollingRandomAccessFile>
		
		<!-- 只显示error级别的信息 -->
		<RollingRandomAccessFile name="appServerError" append="true" fileName="${LOG_HOME}/${SERVER_NAME}_error.log"
			filePattern="${BACKUP_HOME}/${SERVER_NAME}_error.%d{yyyy-MM-dd}_%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{1} %C{1}.%M] - %msg%xEx%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="${EVERY_FILE_SIZE}" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<DefaultRolloverStrategy max="${EVERY_MAX_FILE_NUM}" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Logger name="org.slf4j" level="INFO" />
		<Logger name="org.springframework" level="INFO" />
		<Logger name="io.vertx.ext.jwt.JWT" level="WARN"/>

		<AsyncLogger name="com.github.app" level="${OUTPUT_LOG_LEVEL}" additivity="false" includeLocation="true">
			<appender-ref ref="console" />
			<Appender-ref ref="appServerInfo" />
			<Appender-ref ref="appServerError" />
		</AsyncLogger>

		<AsyncRoot level="${OUTPUT_LOG_LEVEL}">
			<appender-ref ref="console" />
			<Appender-ref ref="depInfo" />
			<Appender-ref ref="depError" />
		</AsyncRoot>
	</Loggers>
</Configuration>
